
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--jQuery-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Fine Uploader New/Modern CSS file
  ====================================================================== -->
  <link href="/node_modules/fine-uploader/fine-uploader/fine-uploader-new.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/file-uploader/5.16.2/fine-uploader-gallery.min.css"/>
<!--DataTables-->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

  <!-- Fine Uploader JS file
  ====================================================================== -->
  <script src="/node_modules/fine-uploader/fine-uploader/fine-uploader.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/file-uploader/5.16.2/fine-uploader.min.js"></script>
  <!-- Fine Uploader Thumbnails template w/ customization
  ====================================================================== -->
  <script type="text/template" id="qq-template-manual-trigger">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
      <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
      </div>

      <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
        <span class="qq-upload-drop-area-text-selector"></span>
      </div>
      <div class="buttons">
        <div class="qq-upload-button-selector qq-upload-button">
          <div>Select files</div>
        </div>
        <button type="button" id="trigger-upload" class="btn btn-primary">
          <i class="icon-upload icon-white"></i> Upload
        </button>
      </div>
      <div>
        <button type="button" id="clear-upload" class="btn btn-primary">Clear</button>
      </div>
      <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
      <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
        <li>
          <div class="qq-progress-bar-container-selector">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
          </div>
          <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
          <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
          <span class="qq-upload-file-selector qq-upload-file"></span>
          <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
          <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
          <span class="qq-upload-size-selector qq-upload-size"></span>
          <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
          <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
          <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
          <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
        </li>
      </ul>

      <dialog class="qq-alert-dialog-selector">
        <div class="qq-dialog-message-selector"></div>
        <div class="qq-dialog-buttons">
          <button type="button" class="qq-cancel-button-selector">Close</button>
        </div>
      </dialog>

      <dialog class="qq-confirm-dialog-selector">
        <div class="qq-dialog-message-selector"></div>
        <div class="qq-dialog-buttons">
          <button type="button" class="qq-cancel-button-selector">No</button>
          <button type="button" class="qq-ok-button-selector">Yes</button>
        </div>
      </dialog>

      <dialog class="qq-prompt-dialog-selector">
        <div class="qq-dialog-message-selector"></div>
        <input type="text">
        <div class="qq-dialog-buttons">
          <button type="button" class="qq-cancel-button-selector">Cancel</button>
          <button type="button" class="qq-ok-button-selector">Ok</button>
        </div>
      </dialog>
    </div>
  </script>

  <style>
    #trigger-upload {
      color: white;
      background-color: #00ABC7;
      font-size: 14px;
      padding: 7px 20px;
      background-image: none;
    }
    #approve{
      color: white;
      background-color: #00ABC7;
      font-size: 14px;
      padding: 7px 20px;
      background-image: none;
    }

    #fine-uploader-manual-trigger .qq-upload-button {
      margin-right: 15px;
    }

    #fine-uploader-manual-trigger .buttons {
      width: 36%;
    }

    #fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
      width: 60%;
    }
    body {
      background-color: #4aafe7;
    }
    #FormSuccess {
    color: #46f800;
      background-color: coral;

    }

    .FormStatusColor{
      font-family: "Arial Unicode MS";
      background-color: #ff0000;

    }
    #fname{
      size: 160px;
    }
    #lname{
      size: 160px;
    }
    #submit{
      color: white;
      background-color: #00ABC7;
      font-size: 14px;
      padding: 7px 20px;
      background-image: none;
    }
  </style>

  <title>Fine Uploader Manual Upload and MySQL Form Submission</title>
</head>
<body>
<!-- Fine Uploader DOM Element
====================================================================== -->
<div id="fine-uploader-manual-trigger"></div>
<h2 class="FormStatusColor">Form Status: <div id="FormSuccess">Pending...</div></h2>

<form method="POST" class="submit" action="http://localhost:8000/form">
  <input type="text" placeholder="First Name" name="fnamesubmit" id="fname" required autocomplete="on" maxlength="70"/>
  <input type="text" placeholder="Last Name" name="lnamesubmit" id="lname" required autocomplete="on" maxlength="70"/>
  <input type="number" placeholder="Age" name="age" id="age" required autocomplete="on" max="120" size="2"/>
  <input type="submit" value="Submit" id="submit" class="btn btn-primary">


</form>
<form method="POST" action="http://localhost:8000/approve">
  <input type="text" placeholder="File Name" name="approve"/>
  <input type="submit" value="Approve" id="approve" class="btn btn-primary"/>
</form>
<!--<input type="text" placeholder="File Name" name="filename" id="filename"/>-->


<table id="table" class="display">
  <thead>
  <tr>
    <th>ID</th>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Time Uploaded</th>
    <th>File Name</th>
    <th>File Status</th>
  </tr>
  </thead>
  <tbody>

  <% for (var i = 0; i < data.length; i++) { %>
  <tr>
    <td> <%=data[i].ID%></td>
    <td><%=data[i].LastName%></td>
    <td><%=data[i].FirstName%></td>
    <td><%=data[i].TimeUploaded%></td>
    <td><%=data[i].FileName%></td>
    <td><%=data[i].Status%></td>
  </tr>

  <% } %>





  </tbody>
</table>



<!--<form method="POST" class="submit" action="http://localhost:8000/form">-->
<!--  <input type="text" placeholder="Last Name" name="lnamesubmit" id="lname"/>-->

<!--</form>-->

<!--<form method="POST" class="submit" action="http://localhost:8000/form">-->
<!--  <input type="text" placeholder="Age" name="age" id="age"/>-->
<!--  <input type="submit" value="Submit">-->
<!--</form>-->
<!--<form method="post" id="submit" action="http://localhost:8000/form">-->
<!--  <label for="fname">First Name: </label>-->
<!--  <input type="text" id="fname" name="fname"><br>-->
<!--  <label for="lname">Last Name:</label>-->
<!--  <input type="text" id="lname" name="lname"><br>-->
<!--  <label for="age">Age:</label>-->
<!--  <input type="text" id="age" name="age"><br>-->
<!--  <button type="submit" value="save" name="submit">Submit</button>-->
<!--</form>-->




<!-- Your code to create an instance of Fine Uploader and bind to the DOM/template
====================================================================== -->
<script>
  var manualUploader = new qq.FineUploader({
    element: document.getElementById('fine-uploader-manual-trigger'),
    template: 'qq-template-manual-trigger',
    request: {
      endpoint: '/uploadFiles'
    },
    thumbnails: {
      placeholders: {
        waitingPath: '/node_modules/fine-uploader/fine-uploader/placeholders/waiting-generic.png',
        notAvailablePath: '/node_modules/fine-uploader/fine-uploader/placeholders/not_available-generic.png'
      }
    },
    deleteFile: {
      enabled: true,
      forceConfirm: true,
      endpoint: '/uploadFiles'
    },
    autoUpload: false,
    debug: true,

  })

  qq(document.getElementById("trigger-upload")).attach("click", function() {
    manualUploader.uploadStoredFiles();

  });
  qq(document.getElementById("clear-upload")).attach("click", function() {
    manualUploader.clearStoredFiles();

  });
  qq(document.getElementById("delete-upload")).attach("click", function() {
    manualUploader.deleteFile(id);


  });
</script>
<!--MySQL-->
<script>
  $(document).ready(function() {
    $("form.submit").on("submit",function(e){

      e.preventDefault();
      var Firstname = $('input[name=fnamesubmit]').val();
      var Lastname = $('input[name=lnamesubmit]').val();
      var Age = $('input[name=age]').val();
      // console.log("hello")
      console.log("First Name:" + Firstname)
      console.log("Last Name:" + Lastname)
      console.log("Age:" + Age)

      $.ajax({

        url:"/form",
        type:"POST",
        data:{
          Firstname: Firstname,
          Lastname: Lastname,
          Age: Age},
        dataType:"json",
        success: function(msg) {
          if (msg.msg == "success"){
            document.getElementById("FormSuccess").innerHTML = "Form Submitted Successfully!"
          } else {
            document.getElementById("FormSuccess").innerHTML = "Form Failed!"
          }

          console.log(msg)
        }
      })
    })
    $("#approve").on("click", function(e) {
      e.preventDefault();
      var approve = $('input[name=approve]').val();
      $.ajax({
        url:"/approve",
        type:"POST",
        data: {approve:approve},
        dataType: "json",

        success: function (msg) {
          if (msg.msg == "success") {
            document.getElementById("FormSuccess").innerHTML = "Approved!";
          }
          if (msg.msg == "error") {
              console.log(msg.msg)
              document.getElementById("FormSuccess").innerHTML = "Approve Failed!";
          }


        }
      })
    })
  })
</script>
<!--DataTables-->
<script type="text/javascript">
  $(document).ready( function () {
    $('#table').DataTable({});

  } );


</script>
<script>
  //Browser Support Code
  function ajaxFunction() {
    var ajaxRequest;  // The variable that makes Ajax possible!

    try {
      // Opera 8.0+, Firefox, Safari
      ajaxRequest = new XMLHttpRequest();
    } catch (e) {

      // Internet Explorer Browsers
      try {
        ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
      } catch (e) {

        try {
          ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
        } catch (e) {
          // Something went wrong
          alert("Your browser broke!");
          return false;
        }
      }
    }
// Restricts input for each element in the set of matched elements to the given inputFilter.
    (function($) {
      $.fn.inputFilter = function(inputFilter) {
        return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
          if (inputFilter(this.value)) {
            this.oldValue = this.value;
            this.oldSelectionStart = this.selectionStart;
            this.oldSelectionEnd = this.selectionEnd;
          } else if (this.hasOwnProperty("oldValue")) {
            this.value = this.oldValue;
            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
          } else {
            this.value = "";
          }
        });
      };
    }(jQuery));


// Install input filters.

    $("#fname").inputFilter(function(value) {
      return /^[a-z]*$/i.test(value); });
    $("#lname").inputFilter(function(value) {
      return /^[a-z]*$/i.test(value); });
    $("#age").inputFilter(function(value) {
      return /^[0-9a-f]*$/i.test(value); });}
</script>


</body>
</html>


